
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Universal Background Filter</title>
</head>
<h4>The Unievrsal Background Filter for SNS Profile Picture</h4>
<p>Upload your SNS profile picture and wait for a while (say, 30 sec. or so).</p>
<form action="/upload" enctype="multipart/form-data" method="post">
<input type="file" name="upload" multiple="multiple"><br>
<input type="submit" value="Upload">
</form>
<p>Example:</p><table border="0"><tr>
<td align="center"><img src="example/icon.jpg" width = "64" height = "64"></td>
<td align="center">+</td>
<td align="center"><img src="example/movie.gif" width = "64" height = "64"></td>
<td align="center">=</td>
<td align="center"><img src="example/resize_movie_icon.gif" width = "64" height = "64"></td>
</tr></table>
<p>(c)Kazutaka Kurihara</p>

<body>
</body>
</html>
