
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Universal Background Filter</title>
</head>
<h4>The Unievrsal Background Filter for SNS Profile Picture</h4>
<form action="/upload" enctype="multipart/form-data" method="post">
<p>1. Select your SNS profile picture.</p>
<input type="file" name="upload" multiple="multiple"><br>
<p>2. Type your email address.</p>
<input type="email" name="email" size="30" maxlength="40"><br>
<p>3. Upload it by pressing the button and wait for a mail.</p>
<input type="submit" value="Upload">
</form>
<p>Example:</p><table border="0"><tr>
<td align="center"><img src="example/icon.jpg" width = "64" height = "64"></td>
<td align="center">+</td>
<td align="center"><img src="example/movie.gif" width = "64" height = "64"></td>
<td align="center">=</td>
<td align="center"><img src="example/resize_movie_icon.gif" width = "64" height = "64"></td>
</tr></table>
<p>(c)Kazutaka Kurihara</p>

<body>
</body>
</html>
