
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Viewer</title>
</head>

<body>
  <h4>The Unievrsal Background Filter for SNS Profile Picture</h4>
  <p>Right-click on the output image/movie and save them.
  <p>
    GIF animation:
  </p>
  <p>
    <img src=<%- imgs %>><br>
  </p>
  <p>
    mp4 (available for Facebook profile movie):
  </p>
  <p>
    <video controls src=<%- rotation %>></video>
  </p>
  <p>(c)Kazutaka Kurihara</p>
</body>
</html>
