
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Universal Background Filter</title>
</head>

<body>
  <script type="text/javascript">
    function startDownloadv() {
        var text = <%- rotation %>;
        var blob = toBlob(text,'video/mp4');
        var url = window.URL.createObjectURL(blob);
        document.getElementById('downloadv').href = url;
    }
    function toBlob(base64, typ) {
      var bin = atob(base64.replace(/^.*,/, ''));
      var buffer = new Uint8Array(bin.length);
      for (var i = 0; i < bin.length; i++) {
        buffer[i] = bin.charCodeAt(i);
      }
      try{
        var blob = new Blob([buffer.buffer], {
          type: typ
        });
      }catch (e){
        console.log(e);
        return false;
      }
      return blob;
    }
  </script>

  <h4>The Unievrsal Background Filter for SNS Profile Picture</h4>
  <p>
    <video id="video" controls src=<%- rotation %> width=200 height=200 autoplay loop></video>
  </p>
  <p><a href="#" id="downloadv" download="icon.mp4" onclick="startDownloadv()">download mp4 (available for Facebook profile movie)</a></p>
  <p>Sorry, animated gif download is not available now.</a></p>
  <p><a href="/" >go back</a></p>
  <p>(c)Kazutaka Kurihara</p>

</body>
</html>
