
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Universal Background Filter</title>
</head>

<body>
  <h4>The Unievrsal Background Filter for SNS Profile Picture</h4>
  <p>Right-click on the output image/movie and save them.
  <p>
    GIF animation:
  </p>
  <p>
    <img src=<%- imgs %> width=96 height=96><br>
  </p>
  <p>
    mp4 (available for Facebook profile movie):
  </p>
  <p>
    <video id="video" controls src=<%- rotation %> width=96 height=96 autoplay loop></video>
  </p>
  <p>(c)Kazutaka Kurihara</p>
</body>
</html>
